@model ANP_Academy.DAL.Models.Receta

@{
    ViewData["Title"] = "Detalles de la Receta";
}

<link rel="stylesheet" href="~/css/Recetas/InfoReceta.css" asp-append-version="true" />

<div id="receta-detalle-container">
    <h1>Detalles de la Receta</h1>

    <div class="card mb-3">
        <div class="card-header text-center custom-header">
            <h4 class="card-title">@Model.Titulo</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="@Url.Action("GetImage", "Recetas", new { id = Model.IdReceta })" class="img-fluid rounded" />
                </div>
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">Descripción</dt>
                        <dd class="col-sm-8">@Model.Descripcion</dd>

                        <!-- Mostrar el promedio de calificación -->
                        <dt class="col-sm-4">Valoración</dt>
                        <dd class="col-sm-8">
                            <div class="rating">
                                @{
                                    var fullStars = (int)Model.Rating;
                                    var hasHalfStar = Model.Rating - fullStars >= 0.5;
                                }
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= fullStars)
                                    {
                                        <span class="full-star">★</span>
                                    }
                                    else if (i == fullStars + 1 && hasHalfStar)
                                    {
                                        <span class="half-star">☆</span>
                                    }
                                    else
                                    {
                                        <span>☆</span>
                                    }
                                }
                                <span class="rating-average">(@Model.Rating.ToString("0.0"))</span>
                            </div>
                        </dd>

                        <dt class="col-sm-4">URL del Video</dt>
                        <dd class="col-sm-8"><a href="@Model.URLVideo" target="_blank" class="text-decoration-none">@Model.URLVideo</a></dd>
                        <dt class="col-sm-4">Archivos</dt>
                        <dd class="col-sm-8">
                            @foreach (var archivo in Model.Archivos)
                            {
                                <div>
                                    <a asp-action="DownloadFile" asp-route-id="@archivo.IdArchivo" class="text-decoration-none">@archivo.NombreArchivo</a>
                                </div>
                            }
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </div>
</div>
