@model ANP_Academy.DAL.Models.Suscripcion
@inject Microsoft.AspNetCore.Identity.UserManager<ANP_Academy.DAL.Models.Usuario> UserManager

@{
    ViewData["Title"] = "Adquirir Plan";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<div class="container mt-4">
    <div class="row">
        <!-- Información de la Suscripción -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Model.Nombre</h5>
                    <p class="card-text">Precio: @Model.Precio CRC</p>
                    <p class="card-text">Duración: @Model.Duracion meses</p>
                </div>
            </div>
        </div>
        <!-- Formulario para adjuntar comprobante -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Adjuntar Comprobante</h5>
                </div>
                <div class="card-body">
                    <form enctype="multipart/form-data" method="post" asp-action="AdjuntarComprobante" asp-controller="Suscripciones">
                        <input type="hidden" name="IdSuscripcion" value="@Model.IdSuscripcion" />
                        <input type="hidden" name="UserId" value="@UserManager.GetUserId(User)" />
                        <div class="form-group">
                            <label for="comprobante">Selecciona tu comprobante:</label>
                            <input type="file" id="comprobante" name="Comprobante" class="form-control" accept="image/*, .pdf">
                        </div>
                        <button type="submit" class="btn btn-primary">Adjuntar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
