@model ANP_Academy.DAL.Models.Factura

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Administrador/EditarUsuario.css" asp-append-version="true" />

<main>
    <section id="gestion">
        <h2 style="text-align: center;">Detalle de la Factura</h2>
        <div class="formulario-edicion">
            <form action="@Url.Action("MostrarFacturas", "Admin")" method="post">
                <div class="campo-formulario">
                    <label for="identificador">Identificador:</label>
                    <input type="text" id="identificador" name="identificador" value="@Model.IdFactura" readonly />
                </div>
                <div class="campo-formulario">
                    <label for="NombreUsuario">Nombre cliente:</label>
                    <input type="text" id="NombreUsuario" name="NombreUsuario" value="@Model.Usuario?.Nombre" readonly />
                </div>
                <div class="campo-formulario">
                    <label for="ApellidoUsuario">Apellido cliente:</label>
                    <input type="text" id="ApellidoUsuario" name="ApellidoUsuario" value="@Model.Usuario?.PrimApellido" readonly />
                </div>
                <div class="campo-formulario">
                    <label for="NumeroUsuario">Numero telefonico:</label>
                    <input type="text" id="TelefonoUsuario" name="TelefonoUsuario" value="@Model.Usuario?.PhoneNumber" readonly />
                </div>
                <div class="campo-formulario">
                    <label for="fechaCompra">Fecha Compra:</label>
                    <input type="date" id="fechaCompra" name="fechaCompra" value="@Model.Fecha.ToString("yyyy-MM-dd")" readonly />
                </div>
                <div class="campo-formulario">
                    <label for="precio">Precio:</label>
                    <input type="text" id="precio" name="precio" value="₡@Model.Precio" readonly />
                </div>
                <div class="botones-formulario">
                    <a href="@Url.Action("MostrarFacturas", "Admin")" class="btn btn-primary">Atrás</a>
                </div>
            </form>
        </div>
    </section>
</main>

