@model IEnumerable<ANP_Academy.DAL.Models.Factura>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Facturas/VerFacturasUsuario.css" asp-append-version="true" />

<main>
    <section id="gestion">
        <h2 style="text-align: center;">Mis facturas</h2>

        @if (ViewBag.Message != null)
        {
            <p>@ViewBag.Message</p>
        }
        else
        {
            <div class="tabla">
                <table>
                    <tr>
                        <th>Identificador</th>
                        <th>Fecha Compra</th>
                        <th>Precio</th>
                        <th>Tipo de Suscripción</th>
                    </tr>
                    @foreach (var factura in Model)
                    {
                        <tr>
                            <td>@factura.IdFactura</td>
                            <td>@factura.Fecha.ToString("dd/MM/yyyy")</td>
                            <td>₡@factura.Precio</td>
                            <td>@factura.Suscripcion?.Nombre</td>
                            <td>
                                <a href="@Url.Action("VerDetalleFacturaUsuario", "Facturas", new { id = factura.IdFactura })" class="boton-editar">Ver detalle</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </section>
</main>

