@using ANP_Academy.ViewModel.Foro
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@model PublicacionComentarioViewModel

<link rel="stylesheet" href="~/css/Foro/Foro.css" asp-append-version="true" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container">
    <button class="button" onclick="window.location.href='/Foro/CrearPublicacion';">Crear Publicación</button>
    @if (SignInManager.IsSignedIn(User)){
        if (User.IsInRole("Cliente"))
        {
            <button class="button" onclick="window.location.href='/Foro/MisPublicaciones';">Mis Publicaciones</button>
        }
    }
    @foreach (var publicacion in Model.Publicaciones)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-white post">
                    <div class="post-heading">
                        <div class="pull-left image">
                            <img src="https://cdn-icons-png.flaticon.com/512/44/44948.png" class="img-circle avatar" alt="user profile image">
                        </div>
                        <div class="pull-left meta">
                            <div class="title h5">
                                <b>@Html.DisplayFor(modelItem => publicacion.CodigoUsuario.Nombre)</b>
                                Hizo una publicacion sobre: <b>@Html.DisplayFor(modelItem => publicacion.Titulo)</b>
                            </div>
                            <h6 class="text-muted time">@publicacion.FechaPublicacion.ToShortDateString()</h6>
                        </div>
                    </div>
                    <!--TODO Put some type of constraints for the users so the page can load faster(Specially with the videos)-->
                    <div class="post-image">
                        @if (!string.IsNullOrEmpty(publicacion.MultimediaData))
                        {
                            if (publicacion.MultimediaType?.StartsWith("image/") == true)
                            {
                                <img src="data:@publicacion.MultimediaType;base64,@publicacion.MultimediaData" alt="ImagenMultimedia" width="760" height="400">

                            }
                            else if (publicacion.MultimediaType?.StartsWith("video/") == true)
                            {
                                <video width="760" height="400" controls>
                                    <source src="data:@publicacion.MultimediaType;base64,@publicacion.MultimediaData" type="@publicacion.MultimediaType">
                                </video>
                            }
                            else
                            {
                                <div class="post-image">
                                    <img src="https://dz2cdn1.dzone.com/storage/temp/13989969-400x200" class="image" alt="image post">
                                </div>
                            }
                        }
                    </div>
                    <div class="post-description">
                        <p>@Html.DisplayFor(modelItem => publicacion.Descripcion)</p>
                        <div class="stats">
                            <a href="javascript:void(0);" class="btn btn-default stat-item">
                                <i class="fa fa-thumbs-up icon"></i> 228
                            </a>
                            <button onclick="toggleModal('reportModal_@publicacion.IdPublicacion')" class="btn btn-default stat-item">
                                <i class="fa-regular fa-flag fa-xl" style="color: #df0c0c;"></i>
                            </button>

                            <!-- Modal/Formulario para reportar comentario -->
                            <div id="reportModal_@publicacion.IdPublicacion" class="modal">
                                <div class="modal-content">
                                    <span class="close" onclick="toggleModal('reportModal')">&times;</span>
                                    <form id="FormReport" asp-action="CreateReporte" method="post">
                                        <div id="report-form" class="report-form">
                                            <input type="hidden" name="IdPublicacion" asp-for="@publicacion.IdPublicacion" />
                                            <label for="Motivo">Motivo del reporte:</label>
                                            <select name="Motivo" id="Motivo">
                                                <option value="Spam">Spam</option>
                                                <option value="Inapropiado">Contenido inapropiado</option>
                                                <option value="Otros">Otros</option>
                                            </select>
                                            <label for="Explicacion">Explicación:</label>
                                            <textarea name="Explicacion" id="Explicacion" rows="4" cols="50" placeholder="Ingrese una explicación..."></textarea>
                                            <button type="submit">Enviar reporte</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="post-footer">
                        <!--Formulario para Crear un Comentario a una Publicacion-->
                        <form asp-action="CrearComentario" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="input-group">
                                <input type="hidden" name="IdPublicacion" asp-for="@publicacion.IdPublicacion" />
                                <input id="TextInput_@publicacion.IdPublicacion" name="ContenidoComentario" asp-for="NuevoComentario.ContenidoComentario" class="form-control" placeholder="Ingrese su comentario" oninput="VerficarTexto('@publicacion.IdPublicacion')" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" id="ButtonSubmit_@publicacion.IdPublicacion" type="submit" disabled>
                                        <i class="fa fa-send"></i> Comentar
                                    </button>
                                </span>
                            </div>
                            <span asp-validation-for="NuevoComentario.ContenidoComentario" class="text-danger"></span>
                        </form>

                        <ul class="comments-list">
                            @foreach (var pc in Model.ComentariosPubli.Where(pc => pc.PublicacionId == publicacion.IdPublicacion))
                            {
                                var comentario = Model.Comentarios.FirstOrDefault(c => c.IdComentario == pc.ComentarioId);
                                if (comentario != null)
                                {
                                    <li class="comment">
                                        <a class="pull-left" href="javascript:void(0);">
                                            <img class="avatar" src="https://cdn-icons-png.flaticon.com/512/44/44948.png" alt="avatar">
                                        </a>
                                        <div class="comment-body">
                                            <div class="comment-heading">
                                                <h4 class="user">@comentario.CodigoUsuario.Nombre </h4>
                                                <h5 class="time">@comentario.FechaComentario.ToShortTimeString()</h5>
                                            </div>
                                            <p>@comentario.ContenidoComentario</p>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
            </li>
        </ul>
    </nav>
</div>
<script src="~/js/Foro/Index.js"></script>

