@model IEnumerable<ANP_Academy.DAL.Models.Publicacion>
@{
    var userId = ViewData["UserId"] as string;
}

<link rel="stylesheet" href="~/css/Foro/MisPublicaciones.css" asp-append-version="true" />


    <div class="container">
        <h2>Mis Publicaciones</h2>
        @foreach (var publicacion in Model)
        {
        if (!string.IsNullOrEmpty(userId) && publicacion.CodigoUsuarioId == userId)
        {
            <div class="comment">
                <div class="user"> @Html.DisplayFor(modelItem => publicacion.CodigoUsuario.Nombre)</div>
                <div class="other"> @Html.DisplayFor(modelItem => publicacion.FechaPublicacion)</div>
                <div class="content"> @Html.DisplayFor(modelItem => publicacion.Descripcion)</div>
                <div class="attachments">
                    <!--TODO Put the Image or videos of the user-->
                    <span class="attachment"> <img src="https://via.placeholder.com/100" alt="Imagen adjunta"></span>
                </div>

                <!--Put a <p> or something that helps to tell the users that they don't have any posts-->
                <div class="reply-form">
                    <form id="deleteForm" asp-action="Delete">
                        <input type="hidden" name="IdPublicacion" asp-for="@publicacion.IdPublicacion"/>
                        <a class="button" asp-action="EditarPublicacion" asp-route-id="@publicacion.IdPublicacion">Editar</a>
                        <input type="submit" value="Eliminar" class="button" /> 
                    </form>
                </div>
            </div>
        }
      }
    </div>

<script src="~/js/Foro/MisPublicaciones.js"></script>

