@using ANP_Academy.ViewModel.Foro
@model MisPublicacionesViewModel
@{
    var userId = ViewData["UserId"] as string;
}

<link rel="stylesheet" href="~/css/Foro/MisPublicaciones.css" asp-append-version="true" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="container">
    <h2>Mis Publicaciones</h2>
    
    @if (!Model.Publicaciones.Any(p => p.CodigoUsuarioId == userId))
    {
        <div class="no-publications">
            <div class="no-publications-container">
                <img class="no-publications-image" src="~/Img/RobotError.webp" alt="No Publications">
                <h2 class="no-publications-title">No tienes publicaciones</h2>
                <p class="no-publications-message">Parece que aún no has publicado nada. ¡Empieza a compartir tus ideas y experiencias con otros!</p>
                <button class="button" onclick="window.location.href='/Foro/CrearPublicacion';">Crear mi primera publicación</button>
            </div>
        </div>
    }
        @foreach (var publicacion in Model.Publicaciones)
        {
        if (!string.IsNullOrEmpty(userId) && publicacion.CodigoUsuarioId == userId)
            {
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-white post">
                        <div class="post-heading">
                            <div class="pull-left image">
                                <img src="https://cdn-icons-png.flaticon.com/512/44/44948.png" class="img-circle avatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <b>@Html.DisplayFor(modelItem => publicacion.CodigoUsuario.Nombre)</b>
                                    Hizo una publicacion sobre: <b>@Html.DisplayFor(modelItem => publicacion.Titulo)</b>
                                </div>
                                <h6 class="text-muted time">@publicacion.FechaPublicacion.ToShortDateString()</h6>
                            </div>
                            <div class="pull-right">
                                <div class="dropdown">
                                    <button class="dropbtn">⋮</button>
                                    <div class="dropdown-content">
                                        <a asp-action="EditarPublicacion" asp-route-id="@publicacion.IdPublicacion">Editar</a>
                                        <form id="deleteForm" asp-action="Delete" method="post" style="display:inline;">
                                            <input type="hidden" name="IdPublicacion" value="@publicacion.IdPublicacion" />
                                            <button type="submit" class="button-link">Eliminar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--TODO Put some type of constraints for the users so the page can load faster(Specially with the videos)-->
                        <div class="post-image">
                            @if (!string.IsNullOrEmpty(publicacion.MultimediaData))
                            {
                                if (publicacion.MultimediaType?.StartsWith("image/") == true)
                                {
                                    <img src="data:@publicacion.MultimediaType;base64,@publicacion.MultimediaData" alt="ImagenMultimedia" width="600" height="400">

                                }
                                else if (publicacion.MultimediaType?.StartsWith("video/") == true)
                                {
                                    <video width="760" height="400" controls>
                                        <source src="data:@publicacion.MultimediaType;base64,@publicacion.MultimediaData" type="@publicacion.MultimediaType">
                                    </video>
                                }
                                else
                                {
                                    <div class="post-image">
                                        <img src="https://dz2cdn1.dzone.com/storage/temp/13989969-400x200" class="image" alt="image post">
                                    </div>
                                }
                            }
                        </div>
                        <div class="post-description">
                            <p>@Html.DisplayFor(modelItem => publicacion.Descripcion)</p>
                            <div class="stats">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            }
        }
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-action="MisPublicaciones" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                    <a class="page-link" asp-action="MisPublicaciones" asp-route-pageNumber="@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-action="MisPublicaciones" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
            </li>
        </ul>
    </nav>
    </div>

<script src="~/js/Foro/MisPublicaciones.js"></script>

