@model ANP_Academy.DAL.Models.Inventario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Administrador/CrearUsuario.css" asp-append-version="true" />

<main>
    <section id="gestion">
        <h2 style="text-align: center;">Crear Inventario</h2>
        <div class="formulario-edicion">
            @using (Html.BeginForm("CrearInventario", "Admin", FormMethod.Post))
            {

                <div class="campo-formulario">
                    <label for="descripcion">Descripción:</label>
                    @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control", id = "descripcion", required = "required" })
                </div>

                <div class="campo-formulario">
                    <label for="cantidad">Cantidad en Stock:</label>
                    @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control", id = "cantidad", type = "number", required = "required" })
                </div>

                <div class="campo-formulario">
                    <label for="unidad">Unidad de Medida:</label>
                    @Html.DropDownListFor(model => model.Unidad, new SelectList(new List<string> { "Kilogramos", "Gramos", "Onzas", "Libras", "Litros", "Galones", "Mililitros", "Otro" }), "Selecciona una categoría", new { @class = "form-control", id = "idCategoria", required = "required" })
                </div>

                <div class="campo-formulario">
                    <label for="precio">Precio por Unidad:</label>
                    @Html.TextBoxFor(model => model.Precio, new { @class = "form-control", id = "precio", type = "number", required = "required" })
                </div>

                <div class="campo-formulario">
                    <label for="idCategoria">Categoría:</label>
                    @Html.DropDownListFor(model => model.IdCategoria, new SelectList(new List<string> { "Carnes", "Vegetales", "Especias", "Equipamiento", "Utensilios", "Otro" }), "Selecciona una categoría", new { @class = "form-control", id = "idCategoria", required = "required" })
                </div>

                <div class="campo-formulario">
                    <label for="idProveedor">Proveedor:</label>
                    @Html.TextBoxFor(model => model.IdProveedor, new { @class = "form-control", id = "idProveedor", required = "required" })
                </div>

                <div class="campo-formulario">
                    <label for="fechaPedido">Fecha de Pedido:</label>
                    @Html.TextBoxFor(model => model.FechaPedido, "{0:yyyy-MM-dd}", new { @class = "form-control", id = "fechaPedido", type = "date", required = "required" })
                </div>

                <div class="campo-formulario">
                    <label for="fechaRecepcion">Fecha de Recepción:</label>
                    @Html.TextBoxFor(model => model.FechaRecepcion, "{0:yyyy-MM-dd}", new { @class = "form-control", id = "fechaRecepcion", type = "date", required = "required" })
                </div>

                <div class="campo-formulario">
                    <label for="fechaCaducidad">Fecha de Caducidad:</label>
                    @Html.TextBoxFor(model => model.FechaCaducidad, "{0:yyyy-MM-dd}", new { @class = "form-control", id = "fechaCaducidad", type = "date" })
                </div>

                <div class="campo-formulario">
                    <label for="estado">Estado:</label>
                    @Html.DropDownListFor(model => model.Estado, new SelectList(new List<string> { "Disponible", "No Disponible" }), "Selecciona un estado", new { @class = "form-control", id = "estado", required = "required" })
                </div>

                <div class="campo-formulario">
                    <label for="idUbicacion">Ubicación:</label>
                    @Html.TextBoxFor(model => model.IdUbicacion, new { @class = "form-control", id = "idUbicacion", required = "required" })
                </div>

                <div class="botones-formulario">
                    <a href="@Url.Action("GestionInventario", "Admin")" class="boton-atras">Atrás</a>
                    <button type="submit" class="boton-activar">Crear</button>
                </div>
            }
        </div>
    </section>
</main>

