@model ANP_Academy.DAL.Models.Inventario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categorias = ViewBag.Categorias as List<ANP_Academy.DAL.Models.Categoria>;
    var proveedores = ViewBag.Proveedores as List<ANP_Academy.DAL.Models.Proveedor>;
    var ubicaciones = ViewBag.Ubicaciones as List<ANP_Academy.DAL.Models.Ubicacion>;
}

<link rel="stylesheet" href="~/css/Administrador/EditarUsuario.css" asp-append-version="true" />

<main>
    <section id="gestion">
        <h2 style="text-align: center;">Editar Inventario</h2>
        <div class="formulario-edicion">
            <form asp-action="EditarInventario" method="post">
                @Html.HiddenFor(model => model.Id) 
                
                <div class="campo-formulario">
                    <label for="codigo">Código:</label>
                    <input type="text" id="codigo" name="Id" value="@Model.Id" readonly />
                </div>
                
                <div class="campo-formulario">
                    <label for="descripcion">Descripción:</label>
                    <input type="text" id="descripcion" name="Descripcion" value="@Model.Descripcion" />
                </div>
                
                <div class="campo-formulario">
                    <label for="categoria">Categoría:</label>
                    <select id="categoria" name="IdCategoria">
                        <option value="">Seleccione una categoría</option>
                        @if (categorias != null)
                        {
                            foreach (var categoria in categorias)
                            {
                                <option value="@categoria.IdCategoria" >
                                    @categoria.Nombre
                                </option>
                            }
                        }
                    </select>
                </div>
                
                <div class="campo-formulario">
                    <label for="cantidad">Cantidad en Stock:</label>
                    <input type="number" id="cantidad" name="Cantidad" value="@Model.Cantidad" />
                </div>
                
                <div class="campo-formulario">
                    <label for="unidad_medida">Unidad de Medida:</label>
                    <select id="unidad_medida" name="Unidad">
                        <option value="">Seleccione una unidad de medida</option>
                        @foreach (var unidad in new List<string> { "Kilogramos", "Gramos", "Onzas", "Libras", "Litros", "Galones", "Mililitros", "Otro" })
                        {
                            <option value="@unidad">@unidad</option>
                        }
                    </select>
                </div>
                
                <div class="campo-formulario">
                    <label for="precio_unidad">Precio por Unidad:</label>
                    <input type="number" id="precio_unidad" name="Precio" value="@Model.Precio" />
                </div>
                
                <div class="campo-formulario">
                    <label for="proveedor">Proveedor:</label>
                    <input type="text" id="provedor" name="Proveedor" value="@Model.IdProveedor" />
                </div>
                
                <div class="campo-formulario">
                    <label for="fecha_pedido">Fecha de Pedido:</label>
                    <input type="date" id="fecha_pedido" name="FechaPedido" value="@Model.FechaPedido.ToString("yyyy-MM-dd")" />
                </div>
                
                <div class="campo-formulario">
                    <label for="fecha_recepcion">Fecha de Recepción:</label>
                    <input type="date" id="fecha_recepcion" name="FechaRecepcion" value="@Model.FechaRecepcion.ToString("yyyy-MM-dd")" />
                </div>
                
                <div class="campo-formulario">
                    <label for="fecha_caducidad">Fecha de Caducidad:</label>
                    <input type="date" id="fecha_caducidad" name="FechaCaducidad" value="@Model.FechaCaducidad?.ToString("yyyy-MM-dd")" />
                </div>
                
                <div class="campo-formulario">
                    <label for="estado">Estado:</label>
                    <select id="estado" name="Estado">
                        <option value="true" >Disponible</option>
                        <option value="false" >No Disponible</option>
                    </select>
                </div>
                
                <div class="campo-formulario">
                    <label for="ubicacion">Ubicacion:</label>
                    <input type="text" id="ubicacion" name="Ubicacion" value="@Model.IdUbicacionNavigation" />
                </div>
                
                <div class="botones-formulario">
                    <a href="@Url.Action("GestionInventario")" class="boton-atras">Atrás</a>
                    <button type="submit" class="boton-verde">Actualizar</button>
                </div>
            </form>
        </div>
    </section>
</main>


