@using ANP_Academy.ViewModel.Contabilidad
@model ContabilidadViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Administrador/MostrarContabilidad.css" asp-append-version="true" />

<main>
    <section id="gestion">
        <h2 style="text-align: center;">Contabilidad</h2>
        <div class="filtro-y-crear">
            <div class="filtro">
                <div class="fecha-corte-busqueda">
                    <label for="fechaCorte" class="etiqueta-fecha-corte">Selecciona una fecha de corte:</label>
                    <input type="month" id="fechaCorte" name="valor" aria-label="Valor de búsqueda" class="input-fecha-corte">
                    <button id="FiltroConta" type="submit" class="boton-buscar"><i class="fas fa-search"></i></button>
                    <button type="button" id="ResetFiltro" class="boton-reset" style="display: none;"> <i class="fas fa-refresh"></i> Resetear </button>
                </div>
            </div>
            <div class="crear-usuario">
                <form action="@Url.Action("DescargarFacturas", "Admin")" method="get">
                    <input type="hidden" id="fechaDescarga" name="fechaCorte" value="">
                    <button type="submit" class="boton-crear">Descargar facturas asociadas al corte</button>
                </form>
            </div>
        </div>
        <div class="tabla" id="ContaTable">
                <table>
                    <tr>
                        <th>Tipo de suscripción</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Recaudación</th>
                    </tr>
                    <tbody>
                    @foreach (var item in Model.SuscripcionesFacturas)
                    {
                        <tr data-fecha="@item.FechaFactura"
                            data-cantidad-original="@item.Cantidad"
                            data-total-original="₡@item.Total.ToString("N0")">
                            <td>@item.Nombre</td>
                            <td class="precio">₡@item.Precio.ToString("N0")</td>
                            <td class="cantidad">@item.Cantidad</td>
                            <td class="total">₡@item.Total.ToString("N0")</td>
                        </tr>
                    }
                    </tbody>
                    

                </table>

        </div>
        <div class="recaudacion-y-fecha" id="totalFiltrado" data-total-general="@Model.TotalGeneral.ToString("N0")">
            <h3>Recaudación total: ₡@Model.TotalGeneral.ToString("N0")</h3>
        </div>
    </section>
</main>
<script src="~/js/Admin/Contabilidad.js"></script>

