@model IEnumerable<ANP_Academy.DAL.Models.Factura>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Facturas/VerFacturasUsuario.css" asp-append-version="true" />

<main>
    <section id="gestion">
        <h2 style="text-align: center;">Facturación</h2>
        <div class="filtro-y-crear">
            <div class="filtro">
                <form method="get" action="@Url.Action("MostrarFacturas", "Admin")">
                    <select name="filtro" aria-label="Filtrar por tipo de suscripción" class="filtro-dropdown">
                        <option value="" disabled selected>Buscar por...</option>
                        <option value="Mensual">Mensual</option>
                        <option value="Trimestral">Trimestral</option>
                        <option value="Anual">Anual</option>
                    </select>
                    <input type="text" name="valor" aria-label="Valor de búsqueda" placeholder="Escribe aquí...">
                    <button type="submit" class="boton-buscar"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th>ID Factura</th>
                        <th>ID Usuario</th>
                        <th>Fecha Compra</th>
                        <th>Tipo de Suscripción</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Any())
                    {
                        <tr>
                            <td colspan="8" style="text-align: center;">No hay facturas disponibles.</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var factura in Model)
                        {
                            <tr>
                                <td>@factura.IdFactura</td>
                                <td>@factura.IdUser</td>
                                <td>@factura.Fecha.ToString("dd/MM/yyyy")</td>
                                <td>₡@factura.Precio</td>
                                <td>
                                    <a href="@Url.Action("VerDetalleFacturaAdmin", "Facturas", new { id = factura.IdFactura })" class="boton-editar">Ver detalle</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </section>
</main>


